.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 500px;
  height: 80%;
  background-color: var(--color-background-light);
  border-radius: 30px;
}

.login-fieldset,
.config-fieldset {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 3px solid var(--color-accent);
  border-radius: 10px;
}

.config-fieldset label,
.room-select option {
  text-align: center;
  font-size: 0.8rem;
  color: var(--color-text-dark);
}

.login-input,
.room-select,
.device-type-select {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 5px;
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
  font-size: 1rem;
  border: 2px solid var(--color-background-medium);
  border-radius: 10px;
  outline: 2px solid var(--color-background-medium);
}

.message {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
  display: none;

  &.error {
    display: block;
  }
}
