.button {
  background-color: var(--color-background-medium);
  border: 1px solid var(--color-background-medium);
  border-radius: 5px;
  padding: 10px;
  color: var(--color-background-dark);
}

.button.security {
  height: 54px;
}

.control-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.device-button {
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: var(--color-background-dark);
  border: 1px solid var(--color-background-dark);
  color: var(--color-background-light);
}

.light-color,
.device-button {
  border-radius: 50%;
}

.channel-buttons,
.volume-buttons {
  padding: 3px;
}
