.button {
  background-color: var(--color-background-medium);
  border: 1px solid var(--color-background-medium);
  border-radius: 5px;
  padding: 10px;
  color: var(--color-background-dark);

  &.error {
    background-color: var(--color-error);
    color: var(--color-accent);
  }
  &.successful {
    background-color: var(--color-background-medium);
    border: 3px solid var(--color-accent);
    color: var(--color-text-dark);
  }
}
.button i {
  pointer-events: none;
}

.button.login,
.button.logout,
.button.security {
  height: 54px;
}

.control-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.device-button {
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: var(--color-background-medium);
  border: 3px solid var(--color-background-dark);
  color: var(--color-text-dark);

  &.is-active {
    background-color: var(--color-background-dark);
    border: 1px solid var(--color-background-dark);
    color: var(--color-background-light);
  }
}

.light-color,
.device-button {
  border-radius: 50%;
}

.channel-buttons,
.volume-buttons {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
