.device {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: var(--color-background-medium);
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;

  @media (min-width: 768px) {
    width: calc(50% - 10px);
  }
}

.light-colors {
  margin: 20px 0;
}

.light-color {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-right: 10px;
}

.light-color.white,
.light-color.yellow {
  color: var(--color-background-dark);
}

.light-color.red,
.light-color.green,
.light-color.blue {
  color: var(--color-background-light);
}

.light-color.white {
  background-color: white;
  border: 1px solid white;

  &.is-active {
    box-shadow: 0 0 10px 10px white;
  }
}
.light-color.yellow {
  background-color: yellow;
  border: 1px solid yellow;

  &.is-active {
    box-shadow: 0 0 10px 10px yellow;
  }
}
.light-color.red {
  background-color: red;
  border: 1px solid red;

  &.is-active {
    box-shadow: 0 0 10px 10px red;
  }
}
.light-color.green {
  background-color: green;
  border: 1px solid green;

  &.is-active {
    box-shadow: 0 0 10px 10px green;
  }
}
.light-color.blue {
  background-color: blue;
  border: 1px solid blue;

  &.is-active {
    box-shadow: 0 0 10px 10px blue;
  }
}

.power-controller {
  margin: 15px 0;
}
.option-selector {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  width: 50%;
  font-size: 0.8rem;
}

.channel-input,
.option-selector select {
  padding: 5px;
  font-size: 0, 8rem;
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
  border: 1px solid var(--color-text-medium);
  border-radius: 5px;
  outline: none;
}

.channel-input {
  width: 50%;
  text-align: center;
}

.timer {
  margin: 10px 0;

  &.error {
    color: var(--color-error);
  }
}

.input-time,
/* .channel-input, */
.volume-input {
  padding: 5px;
  background-color: var(--color-background-light);
  border: 1px solid var(--color-background-light);
  color: var(--color-text-dark);
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}

.input-time {
  width: 40px;
}

/* .channel-input, */
.volume-input {
  width: 80px;
}
