.fa-solid {
  font-size: 2rem;
  color: var(--color-background-dark);
}

.fa-circle-half-stroke {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  opacity: 0.5;

  &.is-active {
    opacity: 1;
  }
}
