.item {
  width: calc((100% / 4) - 10px);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-medium);
  color: var(--color-text-dark);
}
